*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding-top: 10px;
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-derecho{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

header nav .nav-derecho a{
    margin-right: 10px;
    color: rgba(000, 000, 000, 80%);
    font-size: 0.813rem;
    color: rgba(0,0,0,0.87);
    
}

header nav ul a:hover{
    text-decoration: underline;
}

header nav ul a{
    text-decoration: none;
    cursor: pointer;
}


header nav .nav-derecho #header-icono img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 20px ;
    margin-top: 6px;
}

header nav .nav-derecho #header-foto img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 11.5px;
    margin-top: 4px;
}

main{
    margin-top: 20.25vh;
    text-align: center;

}

.main-logo{
    display: flex;
    justify-content: center;
}

.main-logo-container{
    width: 272px;
    height: 92px;
}

.main-section-input-busqueda{
    padding: 26px;
}

.div-exterior-marco{
    display: flex;
    justify-content: center;
}

.div-marco{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 584px;
    height: 46px;
}

.div-marco:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.centrar-marco{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar-marco input{
    width: 487px;
    height: 42px;
    position: relative;
    margin-left: 14px;
    border: none;
    outline: none;
}

.contenedor-svg{
    position: relative;
    display: flex;
    top: 10px;
    width: 40px;
    height: 44px;
    justify-content: center;
}

.contenedor-svg:hover{
    cursor: pointer;
}

.contenedor-svg svg{
    position: relative;
    right: 1px;
    width: 24px;
    height: 24px;
}


.lupa-color{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lupa-color svg{
    fill: #9aa0a6;
    width: 20px;
    height: 20px;
    margin-left: 7px;
}

.capsula {
    height: 76px;
    padding-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margen-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 584px;
    height: 58px;
}

.margen-botones button{
    box-sizing: content-box;
    color: #3c4043;
    width: 135.070px;
    height: 34px;
    padding: 0 16px 0;
    margin: 0 4px;
    font-size: 13.3333px ;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    border-radius: 4px;
    
}

.margen-botones button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 94px;
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0vh;
}

footer a, p{
    color: #70757a;
    text-decoration: none;
}

footer a:hover, p:hover{
    text-decoration: underline;
}

footer .mitad-superior{
    font-size: 15px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #dadce0;
}

footer .mitad-superior p:hover{
    text-decoration: none;
}

footer .mitad-inferior{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 20px;
}

footer .mitad-inferior .izquierda a{
    padding: 15px 11px 15px 15px;
}

footer .mitad-inferior .derecha a{
    padding: 15px 15px 15px 11px;
}

@media (max-width: 869px){

    footer {
        width: 100vw;
        height: 140px;
    }
}



